:root {
  --primary-color: #f9faf8;

  --secondary-color: #8d998f;
  --secondary-color--low: #8d998f7d;

  --contrast-color: #043d2f;
  --typography-color: #090a0e;

  --container-padding--big: 1.5rem;
  --container-gap: 1.3rem;

  --rad-border--big: 1.5rem;
  --rad-border--small: 0.8rem;
}

* {
  box-sizing: border-box;
}

html {
  font-family: montserrat, sans-serif;
  color: var(--typography-color);
  min-height: 100vh;
}

body {
  margin: 0;
  background: var(--primary-color);
}

ul {
  padding: none;
  margin: none;
  list-style: none;
}

button {
  font: inherit;
  border: none;
}

input {
  font: inherit;
}
